#문제1
A 학교에서는 단체 티셔츠를 주문하기 위해 학생별로 원하는 티셔츠 사이즈를 조사했습니다. 선택할 수 있는 티셔츠 사이즈는 작은 순서대로 "XS", "S", "M", "L", "XL", "XXL" 총 6종류가 있습니다.

학생별로 원하는 티셔츠 사이즈를 조사한 결과가 들어있는 리스트 shirt_size가 매개변수로 주어질 때, 사이즈별로 티셔츠가 몇 벌씩 필요한지 가장 작은 사이즈부터 순서대로 리스트에 담아 return 하도록 solution 함수를 완성해주세요.

---
##### 매개변수 설명
학생별로 원하는 사이즈를 조사한 결과가 들어있는 리스트 shirt_size가 solution 함수의 매개변수로 주어집니다.
* shirt_size 의 길이는 1 이상 100 이하입니다.
* shirt_size 에는 치수를 나타내는 문자열 "XS", "S", "M", "L", "XL", "XXL" 이 들어있습니다.

---
##### return 값 설명
티셔츠가 사이즈별로 몇 벌씩 필요한지 가장 작은 사이즈부터 순서대로 리스트에 담아 return 해주세요.
* return 하는 리스트에는 [ "XS" 개수, "S" 개수, "M" 개수, "L" 개수, "XL" 개수, "XXL" 개수] 순서로 들어있어야 합니다.

---
##### 예시

| shirt_size                       | return        |
|----------------------------------|---------------|
| ["XS", "S", "L", "L", "XL", "S"] | [1, 2, 0, 2, 1, 0] |

##### 예시 설명
* "XS"와 "XL"은 각각 한 명씩 신청했습니다.
* "S"와 "L"은 각각 두 명씩 신청했습니다.
* "M"과 "XXL"을 신청한 학생은 없습니다.

따라서 순서대로 [1, 2, 0, 2, 1, 0]을 리스트에 담아 return 하면 됩니다.

아래는 제시된 코드입니다. `solution()`함수를 완성하세요.

In [ ]:
#You may use import as below.
#import math

def solution(shirt_size):
    #Write code here.
    answer = []
    return answer

#The following is code to output testcase.
shirt_size = ["XS", "S", "L", "L", "XL", "S"]
ret = solution(shirt_size);

#Press Run button to receive output.
print("Solution: return value of the function is ", ret, " .")

아래 코드는 '답'입니다.

In [ ]:
def solution(shirt_size):
    size_counter = [0 for _ in range(6)]
    for ss in shirt_size:
        if ss == "XS":
            size_counter[0] += 1
        elif ss == "S":
            size_counter[1] += 1
        elif ss == "M":
            size_counter[2] += 1
        elif ss == "L":
            size_counter[3] += 1
        elif ss == "XL":
            size_counter[4] += 1
        elif ss == "XXL":
            size_counter[5] += 1
    return size_counter

주어진 '답'을 사용해서 완성한 코드는 아래와 같습니다.

In [ ]:
#You may use import as below.
#import math

def solution(shirt_size):
    size_counter = [0 for _ in range(6)]
    for ss in shirt_size:
        if ss == "XS":
            size_counter[0] += 1
        elif ss == "S":
            size_counter[1] += 1
        elif ss == "M":
            size_counter[2] += 1
        elif ss == "L":
            size_counter[3] += 1
        elif ss == "XL":
            size_counter[4] += 1
        elif ss == "XXL":
            size_counter[5] += 1
    return size_counter

#The following is code to output testcase.
shirt_size = ["XS", "S", "L", "L", "XL", "S"]
ret = solution(shirt_size);

#Press Run button to receive output.
print("Solution: return value of the function is ", ret, " .")

Solution: return value of the function is  [1, 2, 0, 2, 1, 0]  .

## 문제1 분석

In [ ]:
size_counter = [0 for _ in range(6)]
print( type(size_counter), size_counter )

<class 'list'> [0, 0, 0, 0, 0, 0]

(1) `[0 for _ in range(6)]`은 리스트 내포 방식으로 새로운 리스트를 만들고 있습니다.

(2) `for _ in range(6)`의 코드에의해 `for`문 영역에 포함된 statement(문장)을 6번 반복 수행하게 되는데 `_`의 의미는 변수 이름을 `_`로 정했다고 생각하시면 됩니다. 즉, 변수에 할당 되는 값이 큰 의미가 없을 때 또는 그 변수를 `for`문 내에서 활용할 필요가 없을 때 사용하는 변수 이름으로 정도로 생각하시면 되겠습니다
.

In [ ]:
import numpy as np
size_counter = np.zeros(6)
print(size_counter)

[0. 0. 0. 0. 0. 0.]

(3) `for _ in range(6)`에서 6을 사용한 이유는 셔츠 사이즈가 6종이기 때문입니다. `np.zeros(6)`에서 6인 사용된 이유도 같은 이유에서 입니다.

#### 또 다른 코드로 동일 문제 해결

In [ ]:
def solution(shirt_size):
    shirt_sizes = ['XS', 'S', 'M', 'L', 'XL', 'XXL']
    size_counter =[]
    for size in shirt_sizes:
      size_counter.append( shirt_size.count(size) )
    return size_counter

In [ ]:
def solution(shirt_size):
    shirt_sizes = ['XS', 'S', 'M', 'L', 'XL', 'XXL']
    size_counter =[]
    for size in shirt_sizes:
      size_counter.append( shirt_size.count(size) )
    return size_counter

#The following is code to output testcase.
shirt_size = ["XS", "S", "L", "L", "XL", "S"]
ret = solution(shirt_size);

#Press Run button to receive output.
print("Solution: return value of the function is ", ret, " .")

Solution: return value of the function is  [1, 2, 0, 2, 1, 0]  .

#문제2
A 쇼핑몰에서는 회원 등급에 따라 할인 서비스를 제공합니다.
회원 등급에 따른 할인율은 다음과 같습니다.
(S = 실버, G = 골드, V = VIP)

| 등급     | 할인율 |
|----------|--------|
| "S" | 5%     |
| "G"   | 10%    |
| "V"    | 15%    |

상품의 가격 price와 구매자의 회원 등급을 나타내는 문자열 grade가 매개변수로 주어질 때, 할인 서비스를 적용한 가격을 return 하도록 solution 함수를 완성해주세요.

---

#####매개변수 설명
상품의 가격 price와 회원 등급 grade가 매개변수로 주어집니다.
* price는 100 이상 100,000 이하의 100단위 자연수입니다.
* grade는 "S", "G", "V" 세 가지 중 하나입니다.

---

#####return 값 설명
할인한 가격을 return 하도록 solution 함수를 작성해주세요.

---

#####예시

| price | grade    | return |
|-------|----------|--------|
| 2500  | "V"    | 2125   |
| 96900 | "S" | 92055  |

##### 예시 설명
예시 #1
2500원의 15%는 375원 입니다. 2500 - 375 = 2125 입니다.

예시 #2
96900원의 5%는 4845원 입니다. 96900 - 4845 = 92055 입니다.

아래는 제시된 코드입니다. `solution()` 함수를 완성하시오.

In [ ]:
#You may use import as below.
#import math

def solution(price, grade):
    #Write code here.
    answer = 0
    return answer

#The following is code to output testcase.
price1 = 2500
grade1 = "V"
ret1 = solution(price1, grade1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
price2 = 96900
grade2 = "S"
ret2 = solution(price2, grade2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

아래 제시된 코드는 '답'입니다.

In [ ]:
def solution(price, grade):
    answer = 0
    if grade == "S":
        answer = int(price*0.95)
    if grade == "G":
        answer = int(price*0.9)
    if grade == "V":
        answer = int(price*0.85)
    return answer

아래 코드는 '답'을 활용해서 전체 코드를 완성한 것입니다.

In [ ]:
#You may use import as below.
#import math

def solution(price, grade):
    answer = 0
    if grade == "S":
        answer = int(price*0.95)
    if grade == "G":
        answer = int(price*0.9)
    if grade == "V":
        answer = int(price*0.85)   
    return answer
#The following is code to output testcase.
price1 = 2500
grade1 = "V"
ret1 = solution(price1, grade1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
price2 = 96900
grade2 = "S"
ret2 = solution(price2, grade2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

Solution: return value of the function is 2125 .
Solution: return value of the function is 92055 .

## 문제2 분석
`solution()` 함수는 가격(`price`)와 회원등급(`grade`)를 매개 변수로 받아서 회원 등급별로 각기다른 할인율을 적용하여 판매 금액을 할인합니다. 

세 if문 중 하나에 해당되는 처리를 하고 나면 더 이상의 회원 등급 조사가 필요 없음에도 불구 하고 해당 회원의 등급 어느 등급인지 알기 위해 전 등급을 다 조사하는 불필요한 동작을 하고 있습니다.

#### 또 다른 코드로 동일 문제 해결

In [ ]:
def solution(price, grade):
  answer = 0
  if grade == "S":
    answer = int(price*0.95)
  elif grade == "G":
    answer = int(price*0.9)
  elif grade == "V":
    answer = int(price*0.85)
  else:
    answer = int(price)
  return answer

In [ ]:
#You may use import as below.
#import math

def solution(price, grade):
  answer = 0
  if grade == "S":
    answer = int(price*0.95)
  elif grade == "G":
    answer = int(price*0.9)
  elif grade == "V":
    answer = int(price*0.85)
  else:
    answer = int(price)
  return answer

#The following is code to output testcase.
price1 = 2500
grade1 = "V"
ret1 = solution(price1, grade1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
price2 = 96900
grade2 = "S"
ret2 = solution(price2, grade2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

#### 또 다른 코드로 동일 문제 해결

In [ ]:
def solution(price, grade):
  discount = {'S':0.95, 'G':0.9, 'V':0.85}
  return price * discount[grade]

In [ ]:
#You may use import as below.
#import math

def solution(price, grade):
  discount = {'S':0.95, 'G':0.9, 'V':0.85}
  return price * discount[grade]

#The following is code to output testcase.
price1 = 2500
grade1 = "V"
ret1 = solution(price1, grade1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
price2 = 96900
grade2 = "S"
ret2 = solution(price2, grade2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

0.85
Solution: return value of the function is 2125.0 .
0.95
Solution: return value of the function is 92055.0 .

#문제3
시작 날짜와 끝 날짜가 주어질 때, 두 날짜가 며칠만큼 떨어져 있는지(D-day)를 구하려 합니다. 이를 위해 다음과 같이 3단계로 간단히 프로그램 구조를 작성했습니다. (단, 윤년은 고려하지 않습니다.)

~~~
1단계. 시작 날짜가 1월 1일로부터 며칠만큼 떨어져 있는지 구합니다.
2단계. 끝 날짜가 1월 1일로부터 며칠만큼 떨어져 있는지 구합니다.
3단계. (2단계에서 구한 날짜) - (1단계에서 구한 날짜)를 구합니다.
~~~

시작 날짜의 월, 일을 나타내는 start_month, start_day, 끝 날짜의 월, 일을 나타내는 end_month, end_day가 매개변수로 주어질 때, 시작 날짜와 끝 날짜가 며칠만큼 떨어져 있는지 return 하도록 solution 함수를 작성했습니다. 이때, 위 구조를 참고하여 중복되는 부분은 func_a라는 함수로 작성했습니다. 코드가 올바르게 동작할 수 있도록 빈칸을 알맞게 채워주세요.

---
##### 매개변수 설명
시작 날짜의 월, 일을 나타내는 start_month, start_day, 끝 날짜의 월, 일을 나타내는 end_month, end_day가 solution 함수의 매개변수로 주어집니다.

* 잘못된 날짜가 주어지는 경우는 없습니다.
* 끝 날짜는 항상 시작 날짜보다 뒤에 있는 날이 주어집니다.
* 끝 날짜가 다음 해로 넘어가는 경우는 주어지지 않습니다.
  * 즉, start_month <= end_month를 항상 만족합니다.
  * start_month = end_month라면 start_day <= end_day를 항상 만족합니다.
* 각 달의 날짜 수는 1월부터 순서대로 [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] 이며, 윤년은 고려하지 않습니다.

---
##### return 값 설명
시작 날짜와 끝 날짜가 며칠만큼 떨어져 있는지 return 해주세요.

---
##### 예시

| start_month | start_day | end_month | end_day | return |
|-------------|-----------|-----------|---------|--------|
| 1           | 2         | 2         | 2       | 31     |

##### 예시 설명
시작 날짜는 1월 2일이고, 끝 날짜는 2월 2일입니다.

* 1월 2일은 1월 1일로부터 1일만큼 지난 날입니다.
* 2월 2일은 1월 1일로부터 32일만큼 지난 날입니다.
* 32 - 1 = 31입니다.
* 따라서 1월 2일과 2월 2일은 31일만큼 떨어져 있습니다.

주어진 코드는 아래와 같습니다. `@@@`표시된 부분에 적절한 코드를 채우십시요.

```python
def func_a(month, day):
    month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    total = 0;
    for i in @@@:
        total += @@@
    total += @@@
    return total - 1
        
def solution(start_month, start_day, end_month, end_day):
    start_total = func_a(start_month, start_day)
    end_total = func_a(end_month, end_day)
    return end_total - start_total

#The following is code to output testcase.
start_month = 1
start_day = 2

end_month = 2
end_day = 2
ret = solution(start_month, start_day, end_month, end_day)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")
```

In [ ]:
def func_a(month, day):
    month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    total = 0;
    for i in range(month - 1):
        total += month_list[i]    
    total += day                  
    return total - 1
        
def solution(start_month, start_day, end_month, end_day):
    start_total = func_a(start_month, start_day)
    end_total = func_a(end_month, end_day)
    return end_total - start_total

solution(1, 2, 1, 3)

1

##문제3 분석

(1)`soultion(1, 2, 1, 3)`함수를 호출하는 경우를 생각해 보겠습니다. 시작 날자는 1월 2일이고 끝나는 날자는 1월 3일을 가정한 것입니다. `soultion(1, 2, 1, 3)`을 호출하면 먼저 `func_a(1, 2)`가 호출됩니다. 그리고 `func_a(1,2)`함수 내부에서는 `for in range(1-1)'가 호출됩니다.

In [ ]:
list( range(0) )

[]

In [ ]:
func_a(1,2)

1

In [ ]:
month = 1
day = 2
month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
total = 0;

for i in range(month - 1):
  total += month_list[i]    # 월별 날자
  print('in for')

total += day               # 날자 
print(total-1)

2

위 두 코드셀의 실행 결과에서 알 수 있듯이 먼저 `range(0)`는 일정 범위를 만들지 못했다는 것을 확인했습니다.   

그리고 `for in range(month-1)`은 `month=1`일 때 결국 `for in range(0)`과 같습니다. 결국 `for in` 구조에서 `in`뒤에 이터러블한 데이터가 와서 문법 에러가 나지는 않지만 반복 해서 꺼낼 데이터가 없기 때문에 `for`에 의한 반복 동작이 일어나지 않습니다. 만약 `for`문에 의한 반복 동작이 일어났다면 최소한 한번은 `print('in for')`가 실행되었어야 합니다. 따라서 `total+=month_list[i]` 문장도 실행될 수 없습니다. 

다만 `for`문 밖 `total+=day` 문장부터 실행되어 `total-1`의  값 1이 출력된 것입니다. "1월 2일은 새해 첫날(1월 1일)을 기준으로 1일이 지난 날입니다.

In [ ]:
func_a(1,3)

2

In [ ]:
month = 1
day = 3
month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
total = 0;

for i in range(month - 1):
  total += month_list[i]    # 월별 날자
  print('in for')

total += day               # 날자 
print(total-1)

2

func_a(1,3)을 실행하면 1월 3일은 새해 첫날(1월 1일)을 기준으로 2일이 지난 날입니다.

1월 2일과 1월 3일 몇일 떨어져 있냐는 물음에 "2일지난 날에서 1일 지난 날을 빼니 1일의 차이가 생기네요.

#### 또 다른 코드로 동일 문제 해결

In [ ]:
def func_a(month, day):
    month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    total = sum(month_list[:month-1]) + day
    return total - 1
        
def solution(start_month, start_day, end_month, end_day):
    start_total = func_a(start_month, start_day)
    end_total = func_a(end_month, end_day)
    return end_total - start_total

solution(1, 2, 1, 3)

1

#### 또 다른 코드로 동일 문제 해결

In [ ]:
def func_a(month, day):
    month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    total = sum(month_list[:month-1], day)
    return total - 1
        
def solution(start_month, start_day, end_month, end_day):
    start_total = func_a(start_month, start_day)
    end_total = func_a(end_month, end_day)
    return end_total - start_total

solution(1, 2, 1, 3)

1

#문제4
자연수가 들어있는 리스트가 있습니다. 이 리스트에서 가장 많이 등장하는 숫자의 개수는 가장 적게 등장하는 숫자 개수의 몇 배인지 구하려 합니다. 이를 위해 다음과 같이 간단히 프로그램 구조를 작성했습니다.

~~~
1단계. 리스트에 들어있는 각 자연수의 개수를 셉니다.
2단계. 가장 많이 등장하는 수의 개수를 구합니다.
3단계. 가장 적게 등장하는 수의 개수를 구합니다.
4단계. 가장 많이 등장하는 수가 가장 적게 등장하는 수보다 몇 배 더 많은지 구합니다.
~~~

단, 몇 배 더 많은지 구할 때는 소수 부분은 버리고 정수 부분만 구하면 됩니다.

자연수가 들어있는 리스트 arr가 매개변수로 주어질 때, 가장 많이 등장하는 숫자가 가장 적게 등장하는 숫자보다 몇 배 더 많은지 return 하도록 solution 함수를 작성하려 합니다. 위 구조를 참고하여 코드가 올바르게 동작할 수 있도록 빈칸에 주어진 func_a, func_b, func_c 함수와 매개변수를 알맞게 채워주세요.

---
##### 매개변수 설명
자연수가 들어있는 리스트 arr가 solution 함수의 매개변수로 주어집니다.
* arr의 길이는 3 이상 1,000 이하입니다.
* arr에는 1 이상 1,000이하의 자연수가 들어있습니다.

---
##### return 값 설명
리스트에서 가장 많이 등장하는 숫자가 가장 적게 등장하는 숫자보다 몇 배 이상 많은지 return 해주세요.

* 가장 많이 들어있는 수의 개수와 가장 적게 들어있는 수의 개수가 같은 경우에는 1을 return 합니다.

---
##### 예시

| arr                   | return |
|-----------------------|--------|
| [1,2,3,3,1,3,3,2,3,2] | 2      |

##### 예시 설명
리스트에 1이 2개, 2가 3개, 3이 5개 들어있습니다.

* 가장 적게 들어있는 숫자 : 1 (2개)
* 가장 많이 들어있는 숫자 : 3 (5개)

3이 1보다 2.5배 많이 들어있으며, 소수 부분을 버리고 2를 return 하면 됩니다.

#### 여기는 참고만 하세요.

<font color=blue> 자연수? 자연수는 양의 정수! 일단 위 1, 2, 3, 4단계를 적용하여 스스로 코드를 한번 만들어보세요.</font>

In [43]:
# 단계 1 -리스트에 들어있는 각 자연수의 개수를 셉니다.
lst = [1, 2, 0, -1.2, -4, 3.14, 5, 5, 6, 6, 6, 7, 7, 7, 7]
mlst = []
for value in lst:
  if value > 0 and isinstance(value, int):
    mlst.append(value)
print(mlst)

unique = set(mlst)
result = {}

for value in unique:
  result[value] = lst.count(value)

print(result)

[1, 2, 5, 5, 6, 6, 6, 7, 7, 7, 7]
{1: 1, 2: 1, 5: 2, 6: 3, 7: 4}

In [50]:
# 단계 1 -리스트에 들어있는 각 자연수의 개수를 셉니다.
from collections import Counter

lst = [1, 2, 0, -1.2, -4, 3.14, 5, 5, 6, 6, 6, 7, 7, 7, 7]
mlst = []

for value in lst:
  if value > 0 and isinstance(value, int):
    mlst.append(value)

print(mlst)

counter = Counter(mlst)
print(counter)
d_counter = dict(counter)
print(d_counter)

[1, 2, 5, 5, 6, 6, 6, 7, 7, 7, 7]
Counter({7: 4, 6: 3, 5: 2, 1: 1, 2: 1})
{1: 1, 2: 1, 5: 2, 6: 3, 7: 4}

In [57]:
# 단계 2 - 가장 많이 등장하는 수의 개수를 구합니다.

# value(값)을 기준으로 정령
ss = sorted(d_counter.items(), key=lambda x:x[1])
print(ss)
print(ss[-1])

# key을 기준으로 정령
#sorted(d_counter.items(), key=lambda x:x[0])

[(1, 1), (2, 1), (5, 2), (6, 3), (7, 4)]
(7, 4)

In [58]:
# 단계 3 - 가장 적게 등장하는 수의 개수를 구합니다.
print(ss[0])

(1, 1)

In [61]:
# 단계 4 - 가장 많이 등장하는 수가 가장 적게 등장하는 수보다 몇 배 더 많은지 구합니다.
print(ss[-1][1])
print(ss[0][1])

print(ss[-1][1] /ss[0][1])

4
1
4.0

### <font color = blue>김성필 여기서 잠들다~</font>